.container {
  margin: 50px;
  padding: 30px;
  width: 500px;
  box-shadow: 0 -45px 31px 0 rgba(0,0,0,0.42);
  border-radius: 8px;
}

.title {
  text-align: center;
}

.line {
  text-align: center;
}

.list-steps li {
  list-style-type: none;
  font-size: 18px;
}

.new-game-btn {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background: #cac3db;
  font-size: 22px;
  line-height: 22px;
  margin: 10px;
  cursor: pointer;
}

.comment {
  text-align: center;
  font-size: 25px;
  color: purple;
}
